# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Entorno Virtual
.venv/
venv/
*.venv

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Carpetas de archivos generados
/logs/
/reports/
/data/

# Archivos de configuración del Dashboard
config_filtros.json
favoritas.json

# Archivos de IDEs
.idea/
.vscode/